.upload-container {
  padding: 20px 40px;
  background: #f3f3f3;
  font-family: Arial, sans-serif;
}


.upload-text {
  font-size: 14px;
  color: #333;
}


.upload-title {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0 20px;
}


.upload-form {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
}


.upload-box {
  display: block;
  background: #c92c0c;
  border-radius: 8px;
  padding: 50px 20px;
  text-align: center;
  border: 2px dashed rgba(255,255,255,0.6);
  cursor: pointer;
  position: relative;
}

.file-input {
  display: none;
}

.upload-inner {
  color: white;
}


.cloud {
  font-size: 50px;
  margin-bottom: 10px;
}


.upload-inner p {
  margin-bottom: 15px;
  font-size: 16px;
}


.choose-file {
  background: white;
  color: #333;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  display: inline-block;
}

.start-btn {
  margin-top: 15px;
  background: #1a73e8;
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.start-btn:hover {
  background: #1557b0;
}


  
.result-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.result-card {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-align: left;
}

.result-title {
  margin-bottom: 16px;
  color: #333;
  font-size: 20px;
}


.result-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.result-item span {
  color: #555;
  font-weight: 500;
}

.result-item p {
  color: #111;
}


.download-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  background: #ff4d00;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}

.download-link:hover {
  background: darkorange;
}




.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #ccc;
  border-top: 3px solid #000;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.8s linear infinite;
  vertical-align: middle;
}


.status{
  color: #10b981;
}

.result-box {
  margin-top: 30px;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 24px;
  width: 380px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
   margin-left: auto;
  margin-right: auto;
}

.result-box h1 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #222;
  margin: 0;
}

.result-box h1 span {
  font-weight: 500;
  color: #555;
}

.result-box button {
  margin-top: 10px;
  background: #ff4d00;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.result-box button:hover {
  background: darkorange;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}